@use '../abstracts/mixins' as mixins;

/* Grillas y contenedores (copiado del CSS viejo) */

/* grid-beneficios */
.grid-beneficios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.grid-beneficios .card{
  background-color:#1F1D2C;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}

.grid-beneficios .card i {
    background-color: #fff;     
    color: #1D72D1;              
    font-size: 24px;              
    width: 60px;                  
    height: 60px;                 
    border-radius: 50%;          
    display: flex;                
    align-items: center;          
    justify-content: center;      
    margin-bottom: 15px;           
}

/* iconos de card */
.card i {
  font-size: 1.8rem;
  color: #1f6bff;
}

.card i h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.card p {
  color: #ffffff;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* Rendimiento */
.rendimiento {
  background-color:#171420;
  padding: 4rem 2rem;
}

.rendimiento-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  align-items: center;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 15PX;
}

.tag {
  background-color: #11203a;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #0f1c2e;
  padding: 15px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}


rendimiento-grid, .tag i {
    background-color: #fff;     
    color: #1D72D1;              
    font-size: 24px;              
    width: 60px;                  
    height: 60px;                 
    border-radius: 50%;          
    display: flex;                
    align-items: center;          
    justify-content: center;      
    margin-bottom: 15px;           
}

.recomendaciones-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0;
    margin-top: -100px;
}

.contactenos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto 80px;
  padding: 0 20px;
}

/* formulario-contacto-contenedor */
.formulario-contacto-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #2d3e50; /* Azul grisáceo */
  border-radius: 12px;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
}
