@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.header {
  background-color: 1F1D2C;
  padding: 1rem 0;

  .container {
    @include mixins.container(vars.$max-width, vars.$container-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* LOGO */
  .logo-area img {
    max-height: 40px;
    display: block;
  }

  /* NAV */
  .nav {
    flex: 1; 
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li a {
        color: vars.$color-white;
        text-decoration: none;

        &:hover,
        &.active {
          color: vars.$color-primary;
        }
      }
    }
  }

  /* ACCIONES */
  .acciones {
    display: flex;
    align-items: center;
    gap: 1rem;

    i,
    .idioma {
      color: vars.$color-white;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: vars.$color-primary;
      }
    }
  }
}

